Fix scim filter grammar defect

The grammar does not accurately model what a string is:

https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/service/antlr/scimFilter/antlr4/token/ScimFilter.g4#L56

If a string contains a `"` character, the processing aborts before the actual ending of the string takes place.

We have to reuse the grammar of section 7 of RFC 7159 (The JavaScript Object Notation (JSON) Data Interchange Format)

Current defect hinders usage of `"` in scim filters, context [here](https://support.gluu.org/upgrade/7114/scim-filter-seems-to-have-changed-with-new-version/).